<!-- <p>app-bar works! use for side bar for menus</p> -->
<div class="item" id="item1">
    
    <button class="btn btn-secondary" (click)="switchTo('Activity')"><span><img src="/assets/conversation.png"
                class="img"></span></button>
    <p class="text">Activity</p>

    <button class="btn btn-secondary" (click)="switchTo('Chat')"><img src="/assets/chat.png" class="img"></button>
    <p class="text">Chat</p>

    <button class="btn btn-secondary" (click)="switchTo('Teams')"><img src="/assets/group.png" class="img"></button>
    <p class="text">Teams</p>

    <button class="btn btn-secondary"><img src="/assets/calendar.png" class="img"></button>
    <p class="text">Calender</p>

    <button class="btn btn-secondary"><img src="/assets/file.png" class="img"></button>
    <p class="text">Files</p>

    <p class="text">...</p>
    <p class="text">more</p>

</div>